input{align-content: center;} h1{color:aquamarine; text-align: center;
font-style: initial;}
.categories {display: flex;
justify-content: center;
gap: 20px;}
.box{background-color: aliceblue;
    padding: 20px;
border: 10 px;}