.search{display:flex;
    justify-content: center;} h1{color:aquamarine; text-align: center;
font-style: initial;}
.categories 
{
display: flex;
justify-content: center;
gap: 20px;
}
.box
{
    background-color: aliceblue;
    padding:5%;
    border:5px solid black;
}